@font-face {
  font-family: "GT Super";
  src: url("../../assets/GT-Super/GT-Super-Display-Light-Trial.woff2")
    format("woff2");

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Super";
  src: url("../../assets/GT-Super/GT-Super-Display-Light-Italic-Trial.woff2")
    format("woff2");

  font-weight: 300;
  font-style: italic;
  font-display: swap;
}



/* ================= WRAPPER ================= */

.quote-wrap {
  text-align: center;
  padding: 180px 20px;
  font-family: "GT Super";
  background-color: var(--bg_color);

  perspective: 1000px;
}

/* ================= LINE ================= */

.q-line {
  overflow: hidden;
  position: relative;
  margin: 0;
  font-weight: 300;
  font-size: clamp(30px, 6vw, 80px);
  line-height: 0.95;
  padding-bottom: 10px;
}

.q-line-inner {
  display: inline-block;

  transform: translate3d(0, 140%, 0);

  will-change: transform;

  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;

  transition: transform 1.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.q-line.visible .q-line-inner {
  transform: translate3d(0, 0, 0);
}

/* ================= MODIFIERS ================= */

.upp {
  text-transform: uppercase;
  color: var(--text);
}

.p {
  margin-bottom: 20px;
}

.q-line.italic {
  font-style: italic;
  font-weight: 100;
  color: var(--accent_bright);
}



/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .quote-wrap {
    padding: 120px 16px;
    text-align: center;
  }

  .q-line {
    font-size: clamp(14px, 10vw, 54px);
    line-height: 0.95;

    padding-bottom: 6px;
  }

  .q-line-inner {
    display: block;
  }

  .left,
  .lleft {
    margin-left: 0;
  }

  .p {
    margin-bottom: 12px;
  }

  .upp {
    letter-spacing: 0.02em;
  }
}