

.giftSection {
  padding: 140px 80px;
  background: var(--bg_color);
}
/* TITLE MASK  */
.services-title-mask {
  overflow: hidden;
  text-align: center;
  
}



.gift-title {
  font-size: clamp(70px, 11vw, 130px);
  font-weight: 300;
  letter-spacing: -0.06em;
  font-family: "GT Super";
  color: var(--text);
text-align: left;
  margin-bottom: 20px;
margin-left: -80px;
  transform: translateY(120%);
  transition: transform 2.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.services-title-mask.open .gift-title {
  transform: translateY(0%);
}



.giftContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 100px;
  
}

.giftText h2 {
  font-size: 64px;
  color: var(--accent_bright);
  margin-bottom: 20px;
  letter-spacing: -0.04em;
}

.giftText p {
  font-size: 20px;
  color: var(--text);
  max-width: 420px;
  line-height: 1.6;
  margin-bottom: 30px;
}


.giftBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 14px 38px;

  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.14em;
  text-transform: uppercase;

  color: #fff;
  background: linear-gradient(135deg, #aac4cb, #8fb3ba);

  border: none;
  cursor: pointer;

  transform: scale(1);

  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.10),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);

  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.5s ease,
    background 0.5s ease;
}

.giftBtn:hover {
  transform: translateY(-5px) scale(1.02);

  box-shadow:
    0 22px 60px rgba(0, 0, 0, 0.16),
    0 0 35px rgba(170, 196, 203, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.35);

  filter: brightness(1.03);
}
.giftCard {
  opacity: 0;
  transform: translateY(60px) scale(0.96);
}

.giftCard.show {
  opacity: 1;
  transform: translateY(0) scale(1);

  transition:
    opacity 1.4s ease,
    transform 1.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.giftCard img {
  width: 100%;
  height: 420px;
  object-fit: cover;

  opacity: 0;
  transform: scale(1.03);
  filter: blur(6px);

  transition:
    opacity 1.2s ease,
    transform 1.4s cubic-bezier(0.16, 1, 0.3, 1),
    filter 1.4s ease;
}

.giftCard.show img {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

@keyframes giftFloat {
  0% {
    transform: translateY(0px) rotate(-0.8deg);
  }

  50% {
    transform: translateY(-12px) rotate(0.8deg);
  }

  100% {
    transform: translateY(0px) rotate(-0.8deg);
  }
}

@media (max-width: 768px) {
  .giftSection {
    padding: 20px 24px;
  }

  .giftContainer {
    flex-direction: column;
    text-align: center;
  }

  .giftText h2 {
    font-size: 42px;
  }

  .giftCard img {
    height: 300px;
  }

  .gift-title {
    text-align: center;
    margin-left: 0;
    margin-top: -1%;

  }
}